.app{
  background-image: linear-gradient(45deg, #0099ce, #89cae9) !important;
}

.sider {
  background-image: url('/img/owner.png'), linear-gradient(-135deg, #0099ce, #89cae9) !important;
  background-position: left bottom, left bottom !important;
  background-repeat: no-repeat, no-repeat !important;
  background-size: contain, contain !important;
  background-color: #89cae9 !important;
}